h1 {
    color: black;
    text-align: left;
    padding-left: 25%;
    padding-top: 60px;
    padding-bottom: 70px;
    font-family: Lato, sans-serif;
    font-weight: 500;
    letter-spacing: 0.15cm;
    text-transform: uppercase;
}

h2 {
    color: #111;
    text-align: center;
    padding-top: 120px;
    font-family: Lato, sans-serif;
    font-weight: 500;
    letter-spacing: 0.15cm
}

h3 {
    color: black;
    text-align: left;
    padding-left: 25%;
    padding-top: 40px;
    font-family: Lato, sans-serif;
    font-weight: 500;
    letter-spacing: 0.15cm;
    text-transform: uppercase;
    margin-right: 24.5%;

}

p {
    color: black;
    text-align: left;
    padding-left: 25%;
    padding-top: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    margin-right: 24.5%;
}

.bold {
    font-weight: 700;
}
.main_img {
    display: block;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-right: auto;
}