* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body {
    padding-bottom: 50px;
}

nav {
    font-family: 'Rozha One', serif;
    height: 80px;
    width: 100%;
    font-size: 20px;
    padding-top: 30px;

}

.logo {
    line-height: 80px;
    padding: 0 80px;
}

nav ul {
    float: right;
    margin-right: 20px;
    word-spacing: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 80px;
}

.homeimage {
    width: 35%;
    height: 35%;
    float: right;
    margin-right: 6.9%;
    /*box-shadow: 10px 10px 5px #707070;*/
}

.upperfold {

    padding-top: 80px;
}

.firstwords {
    padding-left: 80px;
    padding-top: 15%;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: lowercase;
    
}

.firstwords1 {
    padding-top: 40%;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: lowercase;
}

br {
    display: block;
    margin: -8px 0;
}
