* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body {
    padding-bottom: 50px;
}

.darkmode {
    background-color: #292929;
    color: white
}

.mainWrapper {
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
}

.blogContainer {
    padding-top: 50px;
    padding: 25px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

nav {
    font-family: 'Rozha One', serif;
    height: 80px;
    width: 100%;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;

}

.logo {
    line-height: 80px;
    padding: 0 80px;
}

nav ul {
    float: right;
    /* margin-right: 20px; */
    word-spacing: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 80px;
}

.homeimage {
    width: 35%;
    height: 35%;
    padding-right: 80px;
    float: right;
    /*box-shadow: 10px 10px 5px #707070;*/
}

.upperfold {

    padding-top: 80px;
}

.firstwords {
    padding-left: 80px;
    padding-top: 15%;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 36px;
    text-transform: lowercase;
    
}

.firstwords1 {
    padding-top: 40%;
    float: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: lowercase;
}

br {
    display: block;
    margin: 10px 0;
}


h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

p { 
    padding-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.blogp {
    /* margin-right: 6.9%; */
    padding-top: 20px;
}
